*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --section-rotate: 9vw;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--main-font-color-dark);
  /*background-image: linear-gradient(to bottom, #121212, transparent);*/
}

img {
  width: 100%;
  max-width: 100%;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.section {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  /*background: url("../img/simple-background-backgrounds-passion.png") center no-repeat;*/
  /*background-color: darkblue;*/
  background-image: linear-gradient(to right bottom, rgba(172, 255, 26, 0.1), white);
  background-size: cover;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.card {
  width: 380px;
  height: 600px;
  border-radius: 3px;
  margin: 2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: 0.3s all;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: white;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.nav-brand {
  width: 50px;
  position: absolute;
  left: 1.6rem;

  font-family: var(--secondary-font);
  font-size: 2.4rem;
  text-transform: uppercase;

  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 1px;
  opacity: 0.8;
}

.nav-search-btn {
  background: none;
  border: none;

  justify-content: center;
  align-items: center;
  align-content: center;
  transform: translateY(5px);
}
.nav-search-btn svg {
  width: 2rem;
  height: 2rem;
  fill: #f7f7f7;
}
.nav-search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 15rem;
  transition: all 0.3s;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 0, 0.05);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  padding: 2rem 0;
  /*border-bottom: 2px solid rgba(255, 255, 255, 0.3);*/
}

.nav-link {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--secondary-font-color);
}

.header-cover {
  height: 100%;
}

.header-cover-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 50% bottom;
}

.header-cover-overlay {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  background-image: linear-gradient(to right bottom, #172414, transparent);
  opacity: 0.2;
}

.card-header {
  position: relative;
}
.card-picture {
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 22rem;
}
.card-picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  opacity: 0.1;
}
.card-picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}
.card-sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.card-text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card-data {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
.card-data svg {
  margin-right: 0.7rem;
}
.card-icon {
  height: 2rem;
  width: 2rem;
  fill: #55c57a;
}
.card-footer {
  background-color: #f7f7f7;
  padding: 2.5rem 3rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}
.card-footer-value {
  font-weight: 700;
}
.card-footer-text {
  color: #999;
}
.card-ratings {
  grid-row: 2 / 3;
}
.card .btn-small,
.card .btn {
  grid-row: 1 / 3;
  justify-self: end;
  align-self: center;
}

.btn {
  display: inline-block;
}
.btn:hover {
  border-color: var(--secondary-font-color);
}
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: #fff;
}

.btn-green {
  background-color: #55c57a;
  color: #fff;
}
.btn-green::after {
  background-color: #13381d;
}
.btn-small {
  padding: 1.25rem 3rem !important;
  font-size: 1.5rem !important;
  font-weight: bolder;
}
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: darkgreen;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}
.btn-small:hover {
  background-color: #7dd56f;
}
.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.btn-text:focus {
  outline: #55c57a solid 3px;
  outline-offset: 3px;
}

.heading-tour {
  font-size: 2.2rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
}

.heading-primary,
.heading-tour {
  color: white;
  /*text-transform: uppercase;*/
  font-weight: 200;
  /*box-decoration-break: clone;*/
}

.heading-primary span,
.heading-tour span {
  padding: 0.5rem;
  line-height: 1.4;
  /*box-decoration-break: clone;*/
  background-image: linear-gradient(to bottom right, darkgreen, greenyellow);
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    justify-content: space-around;
  }
  .nav-list {
    position: initial;
    right: 0;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: center;
    align-items: end;
    align-content: end;
    flex-direction: row;
    transform: initial;
    transition: initial;
    z-index: 1250;
  }
  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-link {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .active {
    position: relative;
  }
  .active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
  }
  .sub-headline {
    font-size: 10rem;
  }
  .first-letter {
    font-size: 12.2rem;
  }
  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  .line {
    max-width: 11.4rem;
  }

  .restaurant-info {
    display: flex;
    align-items: center;
  }
  .restaurant-info div {
    flex: 1;
  }
  .padding-right {
    padding-right: 7rem;
  }

  .footer-content {
    min-width: 77.5rem;
    margin: 0 auto;
  }

  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
  .footer-content-devider {
    display: flex;
    justify-content: space-between;
  }
  .newsletter-form,
  .social-icons {
    width: 100%;
    min-width: 27.3rem;
    margin: 0 1rem;
  }

  .social-icons i {
    opacity: 1;
  }

  .newsletter-btn {
    margin-left: 7.5rem;
  }

  .section-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
  }
}

footer {
  padding: 7.9rem 0;
  background-color: #121212;
  color: white;
  text-align: center;
  position: relative;
}
.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.back-to-top i {
  display: block;
  color: white;
  #font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}
.footer-content {
  overflow: hidden;
}

.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3px;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}
.footer-content-about p {
  line-height: 2;
}

.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}
.social-icons i {
  font-size: 2rem;
  color: white;
  padding: 0.8rem 0.2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

.newsletter-form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.newsletter-btn {
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10.5rem;
}

/*.section-header {*/
/*  position: relative;*/
/*  height: 38vw;*/
/*  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);*/
/*}*/

.heading-primary {
  font-size: 3.6rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#7dd56f), to(#28b487));
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-box {
  position: absolute;
  /*bottom: 20vw;*/
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.heading-box-group {
  color: #f7f7f7;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-box-detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
.heading-box-detail svg {
  margin-right: 0.8rem;
}
.heading-box-detail:not(:last-child) {
  margin-right: 4rem;
}
.heading-box-icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 10rem;
  flex: 1 0 0;
}

/*.section-description > * {*/
/*  padding: 14vw 8vw calc(1vw + var(--section-rotate));*/
/*  flex: 0 0 auto;*/
/*}*/

.description-box {
  width: 600px;
  flex: 1;
  padding: 5rem;
}

.description-box .description {
  margin-right: 5rem;
}
.description-box .description-text {
  font-size: 1.7rem;
}
.description-box .description-text:not(:last-child) {
  margin-bottom: 2rem;
}

.overview-box {
  flex: 1;
  width: 600px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.overview-box-group:not(:last-child) {
  margin-bottom: 7rem;
}
.overview-box-detail {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.overview-box-detail svg {
  margin-right: 1.25rem;
}
.overview-box-detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.overview-box-icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}
.overview-box-label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.overview-box-text {
  text-transform: capitalize;
}
.overview-box-img {
  border-radius: 50%;
  width: 3.5rem;
  margin-right: 1.25rem;
}

.section-pictures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  /*clip-path: polygon(*/
  /*  0 var(--section-rotate),*/
  /*  100% 0,*/
  /*  100% calc(100% - var(--section-rotate)),*/
  /*  0 100%*/
  /*);*/
  /*-webkit-clip-path: polygon(*/
  /*  0 var(--section-rotate),*/
  /*  100% 0,*/
  /*  100% calc(100% - var(--section-rotate)),*/
  /*  0 100%*/
  /*);*/
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  height: 50rem;
  /*z-index: 1000;*/
}

.picture-box-img {
  display: block;
  width: 100%;
  max-width: 60rem;
  flex: 0;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../img/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  /*z-index: 1000;*/
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.reviews {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.reviews-card {
  width: 30rem;
  height: 30rem;
  padding: 3rem;
  margin: 2rem auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews:before,
.reviews:after {
  content: "";
  width: 2rem;
}
.reviews-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews-avatar-img {
  width: 7rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.reviews-user {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.reviews-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}
.reviews-rating {
  margin-top: auto;
  display: flex;
}
.reviews-star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.reviews-star-active {
  fill: #55c57a;
}
.reviews-star-inactive {
  fill: #bbb;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(15rem + var(--section-rotate)) 3rem 11rem;
  background-color: #f7f7f7;
}

.cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}
.cta-img {
  height: 15rem;
  width: 15rem;
  position: relative;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta-img-logo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  /*z-index: 10;*/
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}
.cta-img-logo img {
  width: 100%;
}
.cta-img-1 {
  -webkit-transform: translate(-10%, -50%) scale(0.97);
  transform: translate(-10%, -50%) scale(0.97);
  /*z-index: 9;*/
}
.cta-img-2 {
  -webkit-transform: translate(15%, -50%) scale(0.94);
  transform: translate(15%, -50%) scale(0.94);
  /*z-index: 8;*/
}
.cta-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.cta-text {
  font-size: 1.9rem;
  font-weight: 400;
}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view-menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;
}
.user-view-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view-form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*z-index: 9999;*/
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert-success {
  background-color: #20bf6b;
}
.alert-error {
  background-color: #eb4d4b;
}

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes scale {
  0% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-2rem);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0.5rem);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
